<!-- Bus Tracking screen -->

<!-- Back button, page header -->
<div class="row">
    <div class="col">
        <button type="button" ng-click="busCtrl.clearRoute()" class="btn btn-outline-success">Back</button>
    </div>
    <div class="col">
        <span class="route-name text-center">Route: {{busCtrl.routeName}}</span>
    </div>
</div>

<!-- Map -->
<div class="row">
    <div class="col">
        <div id="map"></div>
    </div>
</div>


<div class="row">

    <!-- Direction Selection -->
    <div class="col">
        
         
        <div class="btn-group align-middle">
            
          <!-- <button >Tracking:</button> -->
 
          <button class="btn btn-secondary" ng-click="busCtrl.setDirectionFilter(-1)">
            <input type="radio"  ng-model="busCtrl.directionFilter" ng-change="busCtrl.getVehicles()"  ng-value="-1" > All Busses
          </button>
          <button class="btn btn-secondary" ng-click="busCtrl.setDirectionFilter(0)">
            <input type="radio" ng-model="busCtrl.directionFilter" ng-change="busCtrl.getVehicles()"  ng-value="0" >
            {{busCtrl.directionNames[0]}} to {{busCtrl.directionDest[0]}}
           <img ng-src="{{busCtrl.markerFiles[0]}}"/>
          </button>
          <button class="btn btn-secondary" ng-click="busCtrl.setDirectionFilter(1)">
            <input type="radio" ng-model="busCtrl.directionFilter" ng-change="busCtrl.getVehicles()"  ng-value="1" >
            {{busCtrl.directionNames[1]}} to {{busCtrl.directionDest[1]}}
            <img ng-src="{{busCtrl.markerFiles[1]}}"/>
          </button>
        </div>
       
    </div>
</div>